.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
}

.parabox {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    
    margin: 1rem 0 1rem 0;
    padding: 1rem 1rem;
    border: 2px solid white;
    border-radius: .5em;
    color: whitesmoke;
    background-color: rgba(20, 20, 20, .95);
}

.title {
    padding-bottom: 2rem;
}

.paragraph {
    font-size: 1.3rem;
}
